@font-face {
 font-family: Raleway; /* Гарнитура шрифта */
 src: url(fonts/Raleway-VariableFont_wght.ttf); /* Путь к файлу со шрифтом */
}

html, body {
  height: 100%;
  overflow-y: hidden;
}

.is-family-raleway {
  font-family: 'Raleway';
}

.is-dark {
  background-color: #1f2330;
}

.white-text {
  color: #fff;
}

h1.white, h2.white {
  color: #fff;
}

a {
  color:#7a7a7a;
}

.column-link:hover {
  background-color: #2a3042;
}

.chart-container {
  position: relative;
  margin: 0 0 0 auto;
  height: 15%;
  width: 100%;
}

::selection {
  background: transparent;
}