@font-face {
 font-family: Raleway; /* Гарнитура шрифта */
 src: url(fonts/Raleway-VariableFont_wght.ttf); /* Путь к файлу со шрифтом */
}

html, body {
  height: 100%;
  overflow-y: hidden;
}

main {
  height: 100%;
}

.bg {
  background-image: url(background.jpg);
  background-size: cover;
  background-position: 0px 150px;
  transform: scale(-1, -1);
  width: 100%;
  height: 100%;
  position: fixed;
}

.is-family-raleway {
  font-family: 'Raleway';
}

.is-dark {
  background-color: #1c1c20;
}

.white-text {
  color: #fff;
}

h1.white, h2.white {
  color: #fff;
}

a {
  color:#7a7a7a;
}

.has-text-center {
  text-align: center;
}

.column-link:hover {
  background-color: #303036;
}

.navbar-item-trans {
  color: #fff !important;
}

.navbar-item-trans:hover {
  background-color: transparent !important;
  color: #7a7a7a !important;
}

.chart-container {
  position: relative;
  margin: 0 0 0 auto;
  height: 15%;
  width: 100%;
}

.report-settings {
  width: 800px;
}

::selection {
  background: transparent;
}

/* Changing of actions block in transition */

.actions-block {
  border-radius: 2rem 2rem 0 0;
  height: 50%;
  bottom: 0;
  width: 100%;
  position: relative;
}

.actions-block.page-is-changing {
  position: fixed;
  animation-fill-mode: forwards;
  animation-name: actions-block-transition;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.actions-block.page-is-back-changing {
  position: fixed;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-name: actions-block-transition;
  animation-timing-function: ease;
  animation-duration: 1s;
}

@keyframes actions-block-transition {
  0%   {height: 50%; top: 28.09rem;}
  100% {height: 100%; top: 0}
}

/* End of Changing of actions block in transition */

/* Changing of loading bar-block in transition*/

.cd-loading-bar {
  border-radius: 2rem 2rem 0 0;
  height: 50%;
  width: 100%;
  position: fixed;
  top: 28.09rem;
}

.cd-loading-bar.at-top {
  border-radius: 2rem 2rem 0 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 1;
}

.cd-loading-bar.lb-fade-in-forward  {
  animation-fill-mode: forwards;
  animation-name: lb-transition-up;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.cd-loading-bar.lb-fade-out-forward  {
  animation-fill-mode: forwards;
  animation-name: lb-transition-down;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.cd-loading-bar.lb-fade-in-backward  {
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-name: lb-transition-down;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.cd-loading-bar.lb-fade-out-backward  {
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-name: lb-transition-up;
  animation-timing-function: ease;
  animation-duration: 1s;
}

@keyframes lb-transition-up {
  0%    {height: 50%; top: 28.09rem; opacity: 0;}
  100%   {height: 100%; top: 0; opacity: 1;}
}

@keyframes lb-transition-down {
  0%    {opacity: 1;}
  100%   {opacity: 0;}
}

/* End of Changing of loading bar-block in transition*/

.right-arrow {
  position: fixed;
  top: 24.5rem;
  right: 2rem;
}

.left-arrow {
  position: fixed;
  top: 24.5rem;
  left: 2rem;
}

.back-arrow {
  position: fixed;
  top: 3.25rem;
  left: 3.5rem;
}

.nonedisplay {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.loading-gif {
  position: fixed;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  animation-name: loading;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.start-loading-gif {
  position: fixed;
  width: 160px;
  height: 160px;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
}

.start-prog-loading-background {
  background-color: rgba(10,10,10);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

tr.tabletr:hover {
  cursor: pointer;
}

nav.navbar {
  margin: 0 1rem;
}

.menu-el {
  cursor: pointer;
}

div.notification-container {
  position: fixed;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

div.notification {
  width: 50%;
  margin: 0 auto;
  animation-name: notification-raise;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes notification-raise {
  from {-webkit-transform: translate(0, 100px);}
  10% {-webkit-transform: translate(0, -20px);}
  12% {-webkit-transform: translate(0, -22px);}
  16% {-webkit-transform: translate(0, -20px);}
  80% {-webkit-transform: translate(0, -20px);}
  to {-webkit-transform: translate(0, -20px);}
}

div.notification-fade-out {
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  animation-name: notification-fade-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes notification-fade-out {
  from {opacity: 1; visibility: visible;}
  to {opacity: 0; visibility: hidden;}
}


.right-menu-chart-container {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 50%;
}

.left-input-min-width {
  min-width: 33.3%;
}

.rightmenu-info-cards {
  padding: 0.75rem;
  height: 100%;
  background-color: #25252a;
  border-radius: 1rem;
}

.rightmenu-info-cards:hover {
  background-color: #303036;
}

.rightmenu-info-cards-div {
  padding: 0.3rem !important;
}

.menu-info-cards {
  padding: 0.75rem;
  height: 100%;
  background-color: #25252a;
  border-radius: 0.5rem;
}

.menu-info-cards:hover {
  background-color: #303036;
}

.menu-info-cards-div {
  padding: 0.3rem !important;
}

.table {
  background-color: #1c1c20 !important;
  color: #fff !important;
}

.table thead th {
  color: #fff !important;
}

.table tr > td {
  border: 1px solid #45454e;
  border-width: 0 0 1px;
}

tbody > tr:hover {
  background-color: #25252a !important;
}

tbody > tr.selectedtr {
  background-color: #303036;
}

tbody > tr.selectedtr:hover {
  background-color: #303036 !important;
}

figure.main-icons-clients {
  margin-top: 0.5rem;
}

.modal-card-body {
  background-color: #1d1d21;
}

.modal-card-foot, .modal-card-head {
  background-color: #25252a;
}

.modal-card-title {
  color: #fff;
}

.tabs li a {
  color: #fff;
}

.tabs a:hover {
  border-bottom-color: rgb(170, 170, 170);
  color: rgb(170, 170, 170);
}

.button.is-modal-black {
  background-color: #303036;
  border-color: transparent;
  color: #fff;
}

.modal .button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}

p.control .button.is-static {
  background-color: #303036;
  border-color: transparent;
  color: #fff;
}

section.modal-card-body.is-white {
  color: #fff;
}